.container {
  text-align: center;
  margin-top: 23px;
}

table {
  margin: auto;
}

input {
  border-radius: 10px;
  border: 1px solid rgb(36, 70, 36);
  font-size: 20px;
  height: 40px;
  margin-top: 5px;
  width: 365px;
  outline: transparent;
}

button {
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
  width: 80px;
  outline: 0;
  height: 40px;
  margin: 6px;
  border: none;
}

button:hover {
  background-color: grey;
  color: white;
}

.calculator {
  background-color: purple;
  border-radius: 15px;
  display: inline-block;
}

h1 {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}
